
body{
  font-family: 'Montserrat';
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat' sans-serif;
  font-weight: bold;
}
p {
  color: #8f8f8f;
}
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/*Abaixo está mudando o fundo da pagina da primeira parte onde o id=title*/

#title .container-fluid{
  padding: 3% 15%;
  text-align: left;
}
/* sections*/

.white-section{
  background-color: #fff;
}
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
/* Ratação da imagem 1 >> transform: rotate(45deg); <<*/

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  margin-bottom: -200px;
  right: -5%;
}

/*NAV BAR BARRA SUPERIOR */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

/* BOTÕES DE Download */
.download-button{
    margin-top: 5% 3% 5% 0;
}

/* Segunda parte - Recursos/features */

#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-title{
    font-size: 1.25rem;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;

}

/* Terceira parte - Testimonials */
#testimonials{
  padding: 7% 15%;
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%
}
/* Quarta parte - Press */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* Quarta parte - Pricing Section */

#pricing{
  padding: 100px;
}

.pricing-title{
  font-size: 1.25rem;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.princing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }
}

@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0deg);
    margin-top: 50px;
  }
}
/* Quinta parte - CTA section */
#cta {
  padding: 7% 15%;
}
/* Sexta parte - Footer - Rodapé */
#footer{
  padding: 7% 15%;
}
.icon2 {
  color: #183153;
  margin: 30px 20px;
  font-size: 20px;
}
